.poke-card {
  width: 250px;
  margin: 10px;
}

.mat-card-header {
  justify-content: space-between;
  flex-direction: row-reverse;
}

.poke-name {
  font-size: 18px;
  font-weight: bold;
}

.poke-thumbnail {
  max-width: 50px;
  max-height: 55px;
}

.description {
  display: flex;
  align-items: center;
}

.description + .description {
  margin-top: 5px;
}

.material-icons {
  font-size: 20px;
  margin-right: 5px;
}
