<md-card class="poke-card" *ngFor="let poke of lists | async">
  <md-card-header>
    <div md-card-avatar>
      <img class="poke-thumbnail" src="http://www.pokestadium.com/sprites/xy/{{translateData[poke.id - 1].en | lowercase}}.gif" alt="{{translateData[poke.id - 1].ja}}">
    </div>
    <md-card-title class="poke-name">
      {{translateData[poke.id - 1].ja}}
    </md-card-title>
    <md-card-subtitle>
      <span>No.{{poke.id}}</span> / <span>cp:{{poke.cp}}</span>
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div class="description">
      <i class="material-icons">access_time</i>
      {{poke.time}}
    </div>
    <div class="description">
      <i class="material-icons">face</i>
      {{poke.user}}
    </div>
  </md-card-content>
  <md-card-footer>
  </md-card-footer>
</md-card>
