* {
    font-family: 'Nunito', sans-serif;
}

.title {
    text-align: center;
    color: crimson;
    font-size: 200%;
    margin: 0;
}

.total {
    text-align: center;
    color: #444;
    font-size: 120%;
    margin: 0 0 10px;
}
