.chara {
    font-family: 'Nunito', sans-serif;
    color: #666;
    font-size: 14px;
    border: 1px solid #eee;
    border-bottom-width: 3px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row-reverse;
}

.img {
    padding: 10px;
    display: flex;
    align-items: center;
}

.status {
    padding: 10px;
    margin-right: auto;
}

.status * {
    margin: 0;
    padding: 0;
}

.status h1 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.status p {
    font-size: 12px;
    margin-bottom: 5px;
}

.status p span {
    margin-right: 10px;
    display: inline-block;
    width: 4em;
    text-align: right;
}