.total-num {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

md-paginator {
  justify-content: center;
}

app-poke-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
